.container
	%h1 Mock Up CRM Tickets 

	.full-width
	.span12
		.row
			.span6
				%ul.pagination
			.span6
				%button.btn.btn-success.float-right Add Ticket
		#subjectPanel
			%table.header-th.span12
				%tr.panel-table
					%th.subject-style-header
						SUBJECT
					%th.id-style
						ID
					%th.status-th.mobile-hide
						STATUS
					%th.time-style.mobile-hide
						UPDATED
					%th.assign-style.mobile-hide
						ASSIGNEE
					%th.priority-style.mobile-hide
						PRIORITY
			- begin
				/ display ticket list
				- @ticket_info.each_with_index do |ticket, index|
					%li.subject_panel.span12{:id => "panel_"+index.to_s}
						%a.links{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#ticket_#{index.to_s}"}
							%table.span12
								%tr.panel-table
									%th.subject-style
										%i{style: ticket['status'] == 'open'? 'color: #737373' : 'color: #E5E5E5'}

										= ticket['subject']
									%th.id-style
										= index
									%th.status-th.mobile-hide
										.status-style{class: "status-#{ticket['status']}"}
											= ticket['status']
									%th.time-style.mobile-hide
										#{Time.parse(ticket['created_at']).strftime('%b %d')}
									%th.assign-style.mobile-hide
										= ticket['assignee_id']
									%th.priority-style.mobile-hide{class: "priority-#{ticket['priority']}"}
										- if ticket['priority'].present?
											%span.priority-flag 
											#{ticket['priority'][0].capitalize + ticket['priority'].slice(1..-1)}

						/ display ticket content
						.collapse.info-canvas.span12{"aria-expanded" => "false", :id => "ticket_"+index.to_s}
							%div.span6
								%h4
									= ticket['subject']
								%p.info-header-p
									Submitted by: 
									= ticket['requester_id']
								%p.info-header-p.mobile-show
									Assigned To:
									= ticket['assignee_id']
								%p.info-header-p
									Created at: 
									= Time.parse(ticket['created_at']).strftime('%b %d %H:%M')
								.mobile-show
									%p.info-header-p
										Status:
										.status-style{class: "status-#{ticket['status']}"}
											= ticket['status']
								- if ticket['priority'].present?
									%p.info-header-p.mobile-show
										Priority:
										.mobile-show{class: "priority-status priority-#{ticket['priority']}"}
											%span.priority-flag
											#{ticket['priority'][0].capitalize + ticket['priority'].slice(1..-1)}								
								- if ticket['updated_at'].present? && ticket['updated_at'] != ticket['created_at']
									%p.info-header-p			
										%span
											Updated at: 
											= Time.parse(ticket['updated_at']).strftime('%b %d %H:%M')

								- ticket['tags'].each do |tag|
									%span.ticket-tag
										\##{tag}
								%span.ticket-tag
									Group: #{ticket['group_id']}
								%span.ticket-tag
									Brand: #{ticket['brand_id']}
							.span6 	
								%p.info-content-p
									= ticket['description']
								%button.btn.btn-danger.float-right Delete Ticket
								%button.btn.btn-warning.float-right Edit Ticket

				%ul.pagination
			- rescue => e
				.error-msg
					%h4  Oops we currently run into some problems: 
					= e.message
					= @error_message


	:javascript
		$(document).ready(function () {
		// ticket number devide by 25 to decide pages
			var ticketDisplayLimit = 25;
			var pageNum = Math.ceil($(".subject_panel").length / ticketDisplayLimit);

		// if greater than 25 items, display pagination
			if (pageNum > 1){
	
				$('.subject_panel').hide();
				$('.subject_panel').slice(0,ticketDisplayLimit).show();
		
				for (var i = 1; i < pageNum + 1; i++){
					var pageCount = '<li><a class="page-btn page'+i+'" page="'+i+'" href="">'+i+'</a></li>';
					$('.pagination').append(pageCount);     
				}
				$('.page1').addClass('btn-active');
				var prev_page = '<li><a class="page-btn prev-btn" page="1" href=""></a></li>';
				var next_page = '<li><a class="page-btn next-btn" page="2" href=""></a></li>'
				$('.pagination').prepend(prev_page);   
				$('.pagination').append(next_page);  
			}

			// click page btn
			$('.page-btn').on('click', function(e){
				e.preventDefault();
				var currentPageNum = parseInt($(this).attr('page'));
			
			// set prev and next page btn
				$('.prev-btn').attr('page', (currentPageNum - 1 > 0)? currentPageNum - 1 : 1);
				$('.next-btn').attr('page', (currentPageNum + 1 < pageNum)? currentPageNum + 1 : pageNum);

			// display active btn according to page
				$('.page-btn').removeClass('btn-active');
				$('.page'+currentPageNum).addClass('btn-active');

			// display tickets according to page num
				$('.subject_panel').hide();
				$('.subject_panel').slice((currentPageNum - 1) * ticketDisplayLimit, currentPageNum * ticketDisplayLimit).show();
			});
		});
