%h1 Listing books

%table
  %thead
    %tr
      %th Num of boxes
      %th Destination address
      %th Pickup address
      %th Departure date
      %th Arrival date
      %th Message
      - if current_user.email == 'susanto@mail.com'
        %th User email
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      - if book.user_email == current_user.email || current_user.email == 'susanto@mail.com'
        %tr
          %td= book.num_of_boxes
          %td= book.destination_address
          %td= book.pickup_address
          %td= book.departure_date
          %td= book.arrival_date
          %td= book.message
          - if current_user.email == 'susanto@mail.com'
            %td= book.user_email
          %td= link_to 'Show', book
          - if current_user.email == 'susanto@mail.com'
            %td= link_to 'Edit', edit_book_path(book)
            %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
