= form_for @customer_booking do |f|
  - if @customer_booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer_booking.errors.count, "error")} prohibited this customer_booking from being saved:"
      %ul
        - @customer_booking.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :num_of_boxes
    = f.number_field :num_of_boxes
  .field
    = f.label :destination_address
    = f.text_field :destination_address
  .field
    = f.label :pickup_address
    = f.text_field :pickup_address
  .field
    = f.label :departure_date
    = f.datetime_select :departure_date
  .field
    = f.label :arrival_date
    = f.datetime_select :arrival_date
  .field
    = f.label :message
    = f.text_field :message
  - if current_user.email != 'susanto@mail.com' && current_user.email != 'brother@mail.com' 
    .field
      = f.hidden_field :user_email, value: current_user.email
  - if current_user.email == 'susanto@mail.com'
    .field
      = f.label :status
      = f.select :status, options_for_select(["To be Approved", "Request Accepted", "Pick-up Scheduled", "To be Shipped", "Shipped", "Arrived at Destination", "Delivered", "Delivery Delayed"].collect{ |s| [s, s] })
    .field
      = f.label :pickup_datetime
      = f.datetime_select :pickup_datetime
    .field
      = f.label :cost
      = f.number_field :cost, value: 35 * @customer_booking.num_of_boxes
    .field
      = f.label :HBL_number
      = f.text_field :HBL_number
    .field
      = f.label :message_to_customer
      = f.text_field :message_to_customer
  .actions
    = f.submit 'Save'
