<!DOCTYPE html>
<html>
  <head>
    <title>Susanto Company</title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="https://static.wixstatic.com/media/cef76d_1971f932f6e946c6923d05856679900d.png/v1/fill/w_171,h_171,al_c,q_80,usm_0.66_1.00_0.01/cef76d_1971f932f6e946c6923d05856679900d.png">

    <style>
      body {
        background-repeat: no-repeat, repeat;
        background-size: cover;
        background-image: url('https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/3/8/5/7/1647583-1-eng-GB/Patient-centric-model-driving-pharma-service-sector-interest-in-DTP-trial-drug-delivery.jpg')
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Susanto Company</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <%- if user_signed_in? %>
              <li><%= link_to "View Bookings", customer_bookings_path %></li>
              <%- if current_user.email != 'brother@mail.com' && current_user.email != 'susanto@mail.com' %>
                <li><%= link_to "Add Bookings", new_customer_booking_path %></li>
              <% end %>
            <% end %>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <%- if user_signed_in? %>
              <li><a><%= "Welcome " + current_user.name + "!" %></a></li>
              <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>  
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div style="background: white">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
